openapi: 3.1.0
info:
  title: FonteData API
  version: "1.0"
  description: |
    Brazilian data intelligence REST API aggregating 108+ public and private data sources.
    Provides CNPJ, CPF, KYC, compliance, judicial records, and international sanctions data.
    Pre-paid credit model — no subscription, no minimum commitment.
    Free account includes R$50 in credits at signup.
  contact:
    name: FonteData Support
    url: https://wa.me/5511991220174
    email: contato@fontedata.com
  license:
    name: Commercial
    url: https://fontedata.com/terms
  x-logo:
    url: https://fontedata.com/logo.svg

externalDocs:
  description: Full documentation
  url: https://fontedata.com/docs

servers:
  - url: https://app.fontedata.com/api/v1
    description: Production

security:
  - ApiKeyAuth: []

tags:


components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key from https://app.fontedata.com

  headers:
    X-Request-Cost:
      description: Cost deducted in BRL for this request
      schema:
        type: string
        example: "0.54"
    X-Balance-Remaining:
      description: Remaining credit balance in BRL
      schema:
        type: string
        example: "47.23"
    X-Request-Id:
      description: Unique request ID for debugging
      schema:
        type: string
    X-RateLimit-Remaining-RPM:
      description: Remaining requests allowed per minute
      schema:
        type: integer

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "invalid_api_key"
    InsufficientBalance:
      description: Insufficient credit balance
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "insufficient_balance"
    NotFound:
      description: Resource not found
    RateLimited:
      description: Rate limit exceeded — retry after 60 seconds

  schemas:
    ConsultaResponse:
      type: object
      description: >
        Consultation response. Schema varies by endpoint — refer to
        https://fontedata.com/docs for endpoint-specific response schemas.
      properties:
        cached:
          type: boolean
          description: Whether this response was served from cache

paths:

